<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Test</title>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}" href="../../static/styles/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/styles/test.css}" href="../../static/styles/test.css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main>
    <form th:action="@{/course/} + ${test.getUserCourse().getCourse().getId()} + @{/test}" method="post"
          th:object="${test}" class="test-container">
        <input type="hidden" th:field="*{type}" th:value="${test.type}"/>
        <h2>Тестирование</h2>
        <section class="question" th:each="question : ${test.getQuestions()}">
            <h4 class="question__title" th:text="'Вопрос ' + ${questionStat.index + 1}"></h4>
            <p class="question__text" th:text="${question.getContent()}"></p>
            <div class="answers">
                <label th:each="answer : ${question.getAnswers()}">
                    <input type="checkbox"
                           th:field="*{questions[__${questionStat.index}__].answers[__${answerStat.index}__].correct}"
                           class="answers__item"
                           th:text="${answer.getContent()}"/><Br/>
                </label>
            </div>
        </section>
        <button type="submit" class="btn btn-primary submit-button">Дать ответ</button>
    </form>
</main>
</body>
</html>