<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Курс</title>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}" href="../../static/styles/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/styles/welcome.css}" href="../../static/styles/welcome.css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main>
    <div class="welcome-container">
        <div class="alert alert-dismissible alert-success" th:if="${progressMessage != null}">
            <strong th:text="${progressMessage}"></strong>
        </div>

        <h2 class="welcome-title" th:text="'Приветствуем Вас на курсе ' + ${course.getName()}"></h2>
        <p class="course-description" th:text="${course.getDescription()}"></p>

        <a th:href="@{/course/} + ${course.getId()} + @{/check}" class="btn btn-primary toCourse"
           th:if="${progressMessage == null}">Перейти к курсу</a>
    </div>
</main>
</body>
</html>