<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ru">

    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}" href="../static/styles/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/styles/index.css}" href="../static/styles/index.css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h4 th:if="${error != null}" th:text="${error}"></h4>
<main>
    <div class="couses-container">
        <h2 class="courses-title">Курсы</h2>
        <ul class="list-group courses-list">
            <li th:each="course : ${courses}">
                <a th:href="@{/course/} + ${course.getId()} + @{/welcome}" class="list-group-item">
                    <h4 class="list-group-item-heading" th:text="${course.getName()}"></h4>
                    <span class="badge" th:text="'Учеников: ' + ${course.getUserCount()}"></span>
                    <p class="list-group-item-text course-description" th:text="${course.getDescription()}"></p>
                </a>
            </li>
        </ul>
    </div>
</main>
</body>
</html>