<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{../styles/bootstrap.min.css}" href="../static/styles/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{../styles/profile.css}" href="../static/styles/profile.css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main>
    <div class="profile">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active tab"><a href="#" class="toCourses">Курсы</a></li>
            <li role="presentation" class="tab"><a href="#" class="toRecommendations">Рекомендации</a></li>
        </ul>
        <div class="courses">
            <div class="courses__process">
                <h2 class="courses-title">Прогресс курсов</h2>
                <ul class="courses__process__list">
                    <li th:each="userCourse : ${userCoursesInProgress}" class="courses__process__list__item">
                        <a class="courseName" th:href="@{/course/} + ${userCourse.getCourse().getId()} + @{/welcome}">
                            <h4 th:text="${userCourse.getCourse().getName()}"></h4>
                        </a>
                        <span th:text="${userCourse.getProgress() * 100} + ' %'"></span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success"
                                 th:style="'width:' + ${userCourse.getProgress() * 100} + '%'" aria-valuemin="0"
                                 aria-valuemax="100" th:attr="aria-valuenow=${userCourse.getProgress() * 100}"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="courses__finished">
                <h2 class="courses-title">Пройденные курсы</h2>
                <ul class="courses__finished__list">
                    <li class="courses__finished__list__item" th:each="userCourse : ${userFinishedCourses}">
                        <a class="courseName" th:href="@{/course/} + ${userCourse.getCourse().getId()} + @{/welcome}">
                            <h4 th:text="${userCourse.getCourse().getName()}"></h4>
                        </a>
                        <!--<p class="list-group-item-text"-->
                           <!--th:text="'Оценка ' + ${T(Math).round(userCourse.getEndScore())} + ' / 100'"></p>-->
                    </li>
                </ul>
            </div>
        </div>
        <div class="recommendations">
            <h2 class="courses-title">Рекомендованные Вам курсы</h2>
            <ul class="list-group recommendations__list">
                <li class="recommendations__list__item" th:each="userCourse : ${userFinishedCourses}">
                    <a href="#" class="list-group-item">
                        <h4 th:text="${userCourse.getCourse().getName()}"></h4>
                        <span class="badge">Учеников: 14</span>
                        <p class="list-group-item-text course-description">Краткое описние курса. Думаю, оно всё равно
                            нужно Краткое описние курса. Думаю, оно всё равно нужно</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
<script th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"
        src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script th:src="@{../js/profile.js}" src="../static/js/profile.js"></script>
</body>
</html>