<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{../styles/bootstrap.min.css}" href="../static/styles/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{../styles/profile.css}" href="../static/styles/profile.css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main>
    <div class="profile">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active tab"><a href="#" class="toCourses">Курсы</a></li>
            <li role="presentation" class="tab"><a href="#" class="toRecommendations">Рекомендации</a></li>
        </ul>
        <div class="courses">
            <div class="courses__process">
                <h2 class="courses-title">Прогресс курсов</h2>
                <ul class="courses__process__list">
                    <li th:each="userCourse : ${userCoursesInProgress}" class="courses__process__list__item">
                        <a class="courseName" th:href="@{/course/} + ${userCourse.getCourse().getId()} + @{/welcome}">
                            <h4 th:text="${userCourse.getCourse().getName()}"></h4>
                        </a>
                        <span th:text="${userCourse.getProgress() * 100} + ' %'"></span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success"
                                 th:style="'width:' + ${userCourse.getProgress() * 100} + '%'" aria-valuemin="0"
                                 aria-valuemax="100" th:attr="aria-valuenow=${userCourse.getProgress() * 100}"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="courses__finished">
                <h2 class="courses-title">Пройденные курсы</h2>
                <ul class="courses__finished__list">
                    <li class="courses__finished__list__item" th:each="userCourse : ${userFinishedCourses}">
                        <a class="courseName" th:href="@{/course/} + ${userCourse.getCourse().getId()} + @{/welcome}">
                            <h4 th:text="${userCourse.getCourse().getName()}"></h4>
                        </a>
                        <!--<p class="list-group-item-text"-->
                        <!--th:text="'Оценка ' + ${T(Math).round(userCourse.getEndScore())} + ' / 100'"></p>-->
                    </li>
                </ul>
            </div>
        </div>
        <div class="recommendations">
            <h2 class="courses-title">Рекомендованные Вам курсы</h2>
            <ul class="list-group recommendations__list">
                <li class="recommendations__list__item" th:each="r : ${recommendations}">
                    <a th:href="@{/course/} + ${r.getCourse().getId()} + @{/welcome}" class="list-group-item">
                        <h4 th:text="${r.getCourse().getName()}"></h4>
                        <span class="badge" th:text="'Учеников: ' + ${r.getCourse().getUserCount()}"></span>
                        <p class="list-group-item-text course-description"
                           th:text="${r.getCourse().getDescription()}"></p>
                    </a>
                </li>
            </ul>
            <h2 id="useful_title" class="courses-title" th:if="${recommendationUseful == null}">Были ли Вам полезны эти рекоммендации?</h2>
            <form id="useful_form" action="javascript:void(null);" method="post" onsubmit="sendUseful()" th:if="${recommendationUseful == null}">
                <label for="yes-useful">Да</label>
                <input id="yes-useful" type="radio" name="recommendationUseful" value="1" checked="checked" />
                <label for="no-useful">Нет</label>
                <input id="no-useful" type="radio" name="recommendationUseful" value="0" />
                <input type="submit" value="Отправить"/>
            </form>
        </div>
    </div>
</main>
<script th:src="@{../js/jquery-3.2.1.min.js}" src="../static/js/jquery-3.2.1.min.js"></script>
<script th:src="@{../js/profile.js}" src="../static/js/profile.js"></script>
<script>
    function sendUseful() {
        $.ajax( {
            type: "POST",
            url: "/user/recommendationUseful",
            data: $('#useful_form').serialize(),
            success: function(data) {
                if (data == "ok") {
                    alert("Ваше мнение сохранено, спасибо!");
                }
            }
        });
        $("#useful_form").hide();
        $("#useful_title").hide();
    }
</script>
</body>
</html>