<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ru">

    <title>Форма регистрации</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{../styles/bootstrap.min.css}" href="../static/styles/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{../styles/sign.css}" href="../static/styles/sign.css"/>
    <link rel="stylesheet" th:href="@{../styles/test.css}" href="../static/styles/test.css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main class="signUp-main">
    <div class="signin-container">
        <form action="#" th:action="@{/user/signup}" th:object="${user}" method="post" class="form-horizontal">
            <legend class="name">Регистрация</legend>
            <fieldset>
                <div class="alert alert-dismissible alert-danger" th:if="${error != null}">
                    <strong th:text="${error}"></strong>
                </div>
                <div class="form-group">
                    <label for="name-field" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="name-field" th:field="*{name}" placeholder="Name"/>
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password-field" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="password-field" th:field="*{password}"
                               placeholder="Password"
                        />
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</p>
                    </div>
                </div>
                <section class="keywords">
                    <h4>Выберите интересные для Вас темы</h4>
                    <div class="answers" th:each="keyword : ${keywordsList}">
                        <label>
                            <input type="checkbox" class="answers__item"
                                   th:value="${keyword.getId()}"
                                   th:field="*{keywords}"
                                   th:text="${keyword.getName()}"/><Br/>
                        </label>
                    </div>
                </section>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary signup">Регистрация</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</main>
</body>
</html>